<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesAbout.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Nikola Tesla's early life</h1>
    </header>
    <section class="one">
      <h2>Nikola's early life</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas ullam
        velit autem nemo. Eos, maiores. Officiis, illum nisi minima odio nihil,
        voluptatibus illo reiciendis perspiciatis incidunt deserunt blanditiis
        odit? Asperiores officia sunt, animi architecto corporis nisi nobis
        distinctio culpa earum, voluptate consequuntur similique dicta
        necessitatibus perspiciatis dolorum delectus dolore pariatur tempore
        aliquam ullam enim aliquid ut dolores. Ex sed expedita repellat. Numquam
        alias repudiandae fuga, ratione nihil error atque itaque architecto
        ipsum consectetur. Sunt magni nesciunt inventore ex labore et expedita
        tempore, minima sed sint nostrum neque qui consectetur ullam esse vel
        quibusdam deserunt consequuntur illum? Atque itaque tempora debitis
        veritatis distinctio explicabo nobis corporis nisi quam libero? Nobis
        non ab vel repellat possimus ipsum corrupti assumenda fugiat dolores,
        sunt tempore in, nisi totam quisquam nulla sit ratione eaque neque
        aliquid accusamus. Dolorum modi quam fugiat assumenda, maxime
        consequuntur obcaecati, veritatis quisquam aut, minus pariatur quos
        aliquam natus tempora quis officiis repellendus corporis distinctio
        magnam nostrum sapiente deserunt suscipit temporibus! Aperiam quis et,
        quod placeat nobis, adipisci maiores tempore temporibus a quidem atque
        dolores? Culpa maxime voluptatum possimus, repellendus ut laboriosam
        excepturi explicabo aliquid earum autem quae. Perferendis, debitis
        tempora? Voluptate maxime tempore vero facere repellendus itaque
        cupiditate, aut delectus!
      </p>
    </section>
    <section class="two">
      <h2>How Nikola Tesla became a world renound inventor</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        tenetur commodi, culpa quod quibusdam iste odit! Nostrum repudiandae ut
        aliquam incidunt, fugiat quaerat veniam quibusdam rem voluptatum
        doloremque libero sed fuga! Pariatur ducimus ipsum cum quos qui mollitia
        quam vel earum. Similique, mollitia soluta ut, magnam possimus culpa
        fugiat tempora ducimus quia sequi labore aut officia blanditiis odio
        dolores ipsam. Enim voluptas deserunt cumque. Officiis molestias dolorum
        nostrum minus quisquam distinctio rem quaerat quae nihil expedita, totam
        rerum recusandae itaque. Eius repellendus quisquam et ipsam quo at
        repellat perferendis, nisi, veniam tempore architecto dolor explicabo
        amet alias cum minima quos.
      </p>
    </section>
    <footer>
      <a href="/">Home</a>
      <a href="/Inventions">See Inventions</a>
    </footer>
  </body>
</html>