<html>
  <head>
    <meta charset="utf-8" />
    <title>Nikola Tesla</title>
    <link rel="stylesheet" href="/stylesHome.css" />
  </head>
  <body>
    <h1>Nikola Tesla</h1>
    <div class="img">
      <div class="img-one"></div>
      <div class="img-two"></div>
      <div class="img-three"></div>
      <div class="link">
        <a href="/About">See about</a><a href="/Inventions">See Inventions</a>
      </div>
    </div>
  </body>
</html>