<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesInventions.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Nikola teslas Inventions</h1>
    </header>
    <section class="one">
      <h2>
        How Nikola Teslas inventions and his research inspired current day
        techonolgy
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        similique mollitia quis architecto qui et voluptatibus omnis distinctio
        quod vitae alias quia, perferendis ullam ipsam itaque accusantium
        perspiciatis cupiditate, vel quidem sequi nemo. Laborum inventore nemo
        id error consectetur praesentium debitis adipisci, necessitatibus omnis
        reprehenderit totam vitae aperiam pariatur harum nostrum quia labore
        eius autem quidem nesciunt perspiciatis odit veritatis, expedita
        architecto? Dolorem rem ratione sit suscipit laboriosam, sequi dicta,
        minima sapiente minus provident dolor quam! Optio necessitatibus ducimus
        repellendus quos facere consectetur adipisci consequatur sit, at ea
        corrupti! Aspernatur suscipit commodi eligendi molestias sequi aperiam
        officiis quo incidunt nam tempore dolorem voluptatum atque corporis illo
        dolorum laboriosam, ad quisquam ut tenetur hic fugiat? Assumenda saepe,
        quis sit hic deleniti recusandae quibusdam. Fugit dolorum aperiam nobis,
        aspernatur aut accusantium libero et. Atque commodi necessitatibus
        omnis, earum quasi nostrum quisquam eum aut culpa veritatis incidunt
        obcaecati quo at assumenda consequatur dolorum? Repudiandae aliquam
        suscipit sequi fugiat aut esse odio, ad a earum alias. Soluta obcaecati
        sequi autem provident adipisci quidem ut, accusantium fugit eos quasi
        debitis blanditiis dolorem modi neque aspernatur animi id corrupti
        ratione maiores repudiandae quis. Dicta delectus expedita velit sit,
        fugit possimus reiciendis ipsa quam architecto pariatur cumque
        laudantium tempore esse qui. Quod, accusamus voluptas ullam maiores
        iusto nobis libero saepe sequi alias reiciendis consectetur minima ipsa
        ab. Vero libero, unde ex expedita illum, ut enim mollitia qui
        consectetur alias suscipit. Obcaecati, minima. Asperiores ad praesentium
        aspernatur. Facilis minima accusamus officiis saepe quos dolor nesciunt
        quasi illum eum explicabo provident sint, distinctio eos suscipit magni.
        Velit numquam, saepe amet neque facere eum repellendus recusandae,
        possimus mollitia distinctio hic ea voluptates aliquid doloribus,
        aspernatur praesentium alias cupiditate repudiandae dignissimos? Porro
        est minus minima quas dicta perferendis ipsa eos, inventore voluptates.
        Atque recusandae enim natus quisquam ad, architecto asperiores illo!
      </p>
    </section>
    <section class="two">
      <img src="/TeslaInvetion1.jpeg" alt="" class="img-one img" />
      <img src="../teslaInvention2.jpeg" alt="" class="img-two img" />
      <img src="../teslaInventions3.jpeg" alt="" class="img-three img" />
      <img src="../NikolaTeslaInvention4.png" alt="" class="img-three img" />
    </section>
    <footer>
      <a href="/">Home</a>
      <a href="/About">See About</a>
    </footer>
  </body>
</html>
